<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DuplicateSharedLibraryCPLConfigurationFeatureVersion</key>
	<integer>0</integer>
	<key>DuplicateSharedLibraryEnabledMarker</key>
	<true/>
	<key>GlobalValue</key>
	<dict>
		<key>isReadyForAnalysisDate</key>
		<date>2023-11-12T23:23:03Z</date>
	</dict>
	<key>MigrationAction</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeDateTimezone</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-02-10T16:58:24Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-02-10T16:58:24Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeDateTimezoneFromCloudMaster</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-07-16T16:46:24Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-07-16T16:46:24Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeDigitalZoomRatio</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-02-10T16:58:23Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-02-10T16:58:24Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeFocalLengthIn35mm</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-02-10T16:58:23Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-02-10T16:58:23Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeLocation</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-02-10T16:58:23Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-02-10T16:58:23Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeOrientation</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-07-16T16:46:23Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-07-16T16:46:24Z</date>
			</dict>
			<key>PLModelMigrationAction_CinematicVideoPopulateDepthType</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-02-10T16:58:24Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-02-10T16:58:24Z</date>
			</dict>
			<key>PLModelMigrationAction_FixDuplicateMergeCrashRecoveryAssets</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-11-13T02:08:27Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-11-13T02:08:27Z</date>
			</dict>
			<key>PLModelMigrationAction_FixExtendedAttributeDateCreated</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-02-10T16:58:24Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-02-10T16:58:24Z</date>
			</dict>
			<key>PLModelMigrationAction_PopulateExtendedAttributes</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-02-10T16:58:23Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-02-10T16:58:23Z</date>
			</dict>
			<key>PLModelMigrationAction_RebuildHighlights</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-11-13T02:08:27Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-11-13T02:08:27Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveAllPurgeableClones</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-07-16T16:46:24Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-07-16T16:46:24Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveOrphanedMediaAnalysisAttributes</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-02-10T16:58:24Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-02-10T16:58:24Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveOrphanedSceneprint</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-02-10T16:58:24Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-02-10T16:58:24Z</date>
			</dict>
			<key>PLModelMigrationAction_RevalidateFaceAreaPoints</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-11-13T02:08:27Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-11-13T02:08:27Z</date>
			</dict>
			<key>PLModelMigrationAction_updateACVideos</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2023-02-10T16:58:24Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2023-02-10T16:58:24Z</date>
			</dict>
		</dict>
		<key>ResumeMaker</key>
		<dict/>
	</dict>
	<key>PLDeferredCriticalMaintenanceTask</key>
	<date>2023-07-22T15:36:17Z</date>
</dict>
</plist>
