<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	PY4xD4IwEIX/y5s7VECGri66aKKJDsbhsEVqKCXtwUL47xYxbndf3vvuJjjDpIkJaoKj
	yCbsjX01DFXIPBM/drOaG6hcZoWAD9Z0TGx9B1XOArUPjvhqQvyijcC4zoeu9ou4Gmyr
	j4OrTIBCJnflFgLU9/8O0h6fjXF0NqNdmRToW+LFngL2dEG6Rfo9RHbpgQh1f8wf
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentRenderTypes</key>
	<integer>2048</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-24T21:28:17Z</date>
</dict>
</plist>
