<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	fVTJbtswEP0XngWDw2VI6lY0KZpDEyABuqDIgZHomIUWQ6KyIPC/d2g7sSwU5UnibO/N
	48wba0PytU+elW+s9WMKw9cQHzeJlYpLURzvfsQ6bVgpuVAF64cYuuRT7DtW4q5g635o
	ffoehnF/BQV7Onxfdes+J36YYlNfT+1DGFjJBP+MmhXMb7cfMYz+x2oTWn8bnuLhjhds
	2/iUs5NDvLljVMvXf6YxtQRgZOXvt3/UDp1/aELNyjRMgbKGlGL3OGYcj40fxzB+8ymF
	T03TP5/c/DYMaRoCK8XKuP3RQgIKq6gLddimzTubym+zZ/3pvyGtf4nt1J6cAAt2d3Hz
	5TZ0dRgI0gdoMjRT66/7OIa7yjfkzFfUag7OWYGojTGCk9faV+FAu9rE7md2k86hdRJB
	oUFuhaZcYZ0uX8OvbEYJVkgjAAw6JezJfIjW4DTnVoEQwK0l3ENW/8OuBGgBEjS3Wmuk
	9nb9eEytHUVKAxyptgFZ7FEdbI6jc8AN9cPlFKe8B7sxkgNXVBu4tvaY94iJ6BiBYB3X
	Ukt6YWd8laHCAomMpWA450tUqV2onKa8wsGSr5QWtUKptDQm01nSJY4OwVjJyexmdKXT
	yBHQZUwg7IytdKCcBFLJWQDu3IKtAkPDhMqiUNSnPEMztkJyZUjmbLFLttQmo0EJbjll
	z4DmbBUSDUBUkIFJqxZshST9EaRWioQUZkmXnpgheRGpCmG0M7rKKnpZ9HSyvkJJN+Or
	yEDiAh0CjXZBV/OsARgS3hjlhJjTlUYrCjM0JSa3ZHef90c1jbehSnm6XvfvA7SbHUsl
	nvdDgYqfHVLw5ZAXzu6p5mYf4M79haId0sZuMZp5jPIhzbWldsOO3GJNWyau435pXeQN
	cLleZ5TvG+9q7lD17Yo2WhNW202fera73/0F
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-23T20:10:26Z</date>
</dict>
</plist>
