<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLTsNADPwXn6MoD1rKnikilyKBVA6Ig9N1GqPsbrTrREJR/p1NShFI3KyZsWfGExgS
	1CgIagKDQcg/Ep9bAVVmu13yjb2ylhZUUebbBJxnsoLCzoLazgk0zhuUI/mwQnkC42Wu
	bOOWw/XAnT4MpiYPCors4XYDCWDf/+xAeXdTpFmab7LIhFNLBp9p5AubJdB3KItPlPLT
	C0RX1B9DEBOjBFBv0z8pyGLdkQYlfqB4lUTYnsOSiJqGTn/FK3JAQ0ua+yOPrOEKV1bI
	BpbPKI3WrKMrN7zW2a8KuL6h+s2dnEljzY7SvnXiYH6fvwA=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentRenderTypes</key>
	<integer>3072</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-09-15T22:42:42Z</date>
</dict>
</plist>
