<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlacklistedMeaningsByMeaning</key>
	<dict/>
	<key>SceneWhitelist</key>
	<array>
		<string>Animal</string>
		<string>Art</string>
		<string>Aurora</string>
		<string>Beach</string>
		<string>Bicycle</string>
		<string>Boat</string>
		<string>Car</string>
		<string>Carousel</string>
		<string>Castle</string>
		<string>Cetacean</string>
		<string>Cycling</string>
		<string>Easter Egg</string>
		<string>Flower</string>
		<string>Food</string>
		<string>Forest</string>
		<string>Games</string>
		<string>Jewellery</string>
		<string>Lake</string>
		<string>Music</string>
		<string>Musical Instrument</string>
		<string>Night Sky</string>
		<string>Nightclub</string>
		<string>Performance</string>
		<string>Pier</string>
		<string>Rocket</string>
		<string>Skating</string>
		<string>Sport</string>
		<string>Sunset Sunrise</string>
		<string>Theme Park</string>
		<string>Underwater</string>
		<string>Vehicle</string>
	</array>
</dict>
</plist>
