<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	3ZxbjyXXcaX/Sz1XH+TOfefb2JYxAjQeQzbmAkMPJbJI9qC7q1FdrbEt8L/P90VmHpK2
	YWW+jkih2eeWGTtir1grInb++eHj89vTd09vTw/f/Pnh49OXt+fX//r8/ocf3x6+SetY
	HvfX/uf7795+fPhmNl55eX3//Ont6e39y6eHb9pPjw/fv7x+fHr7H8+vX+Kl9Pjwp+2/
	f/vp+xd/949f33/47u++fvzj8+vDNw9p/k1dHx4fnj5/vn/noeT1ttxSX3jjy7c/Pn98
	+v3zn95vb3LNzx+e3rwMn3z/3//hgYs+ffd/vn55+8idfHn45p/+/B/cxPOnpz9+eP7u
	4Zu316/P/Orz29v7Tz988YZen799//nZ//ovX99efvfy8tn//s3r68vrX7989xyX/Pun
	16eP8ekPvP+3H57+9OLd37/wGK///fPr+xeuUdft7//w9vT6Ft+Pbz199/y7Z24n7y/8
	5tPz6w//wvu3VGtJtafcR1/6GO0njPrl7f+3959++de/wz5+/I/vP7z/1+fffvqCUd/q
	grjDL8cbv3/+8vUD1+duXr6+ff769rcY8fw3X1/91PcfnjRf/zx9+IqVK3f19v7j85dv
	nz7w17bw9+fPL9/i6UW/+t1fX4qFfn36v//Id/7jH/wLv/jjy8eXH16fPv/IEvzTcptz
	rEvPc8nLyGNJ+XG5Lcsyy5itzGWmUfpalvmY0q3z9jrW3uvoY6b4ZC1zXWqqs7dR2prG
	o79Z+VxZW26JX53j8d28tSVXfmy0ZV0nX3p8V25lttSWvvZ11JxKeX63tMd+62tbe+0r
	l1nXWme8nP7w0+NfsLxctHyuXLT2npa1tbTZw/LNwq1MbKprqvkxLbeSS0ms0ZxpTazF
	u/hkSz03PlMmf46RHpMrV1Jq62wsRxqDlzpfaSW1XMcsLJ12p841xjpyqa30Zex2swqz
	96WttdW69HLW7nbV43mWtS6jzV6XOTY/psptc6ejl1qxR7uXWhOrAwr1wQ1vdpd1TNye
	UxopzbWE2SwQvmYt1px9pde1YVxKvWUWJayubVSMHsuYa2cxd6sHTuh8i1/mW/m01eOC
	1d5iKo1w6jPXvscu97+khr2jVVxh5OWVm/CfOUbvu8EJFw8Co+VeyuLS+OWZWyuZy5aW
	CYl8Y7PkNBdWit8c2pxvLnDDQbUsA+vrZtyNXxx+pLIVOr/Oy/WEzXm5aDNbrbVBoK5l
	1BJG98b9dDYYwYiLRn+s3M5wy7XOynDrm9kLPirEA1YWgjGvW4APIpbdwB+gASs0bsSG
	y9H9J7ecH9+tN65ASAAtZZ3rmnrYPYk9FhxIyA0I6Gs66et8BdO4ScKO3coG7lw8ty3A
	+ZHUWl9yTu7F9Piu3irblLvhnjAh72HRQLkVC3F8BZp62J30bmH/Fz2Mb1O5sWbLrKXy
	ewQInxqiI0tmHORc82E1CABmssaVUF/aWauv4Jm3CGp55VYJVLy1oVTPAByosk4jbk49
	hltK8/O6hxXQbKIwd0AaFGdX5xZGszAkB7Ya+7Pg7DRuRO3qNcC/UaubppFDx8r/+6yT
	RQ/zCCoumwcX7XkRCs5afQXNvEeQzMglgbN3d6tZbMIeV5ATAKKB1Q38cT9kLK2mpr5Z
	TeoiAa7ZrQJChNlrhhQQLTUBG2E13zQdsYNZ5HV9bLfZpj+YuglujsNqIqayDKAj6136
	2dyVL6IZnqlraZO0sgjhYXVrE09VX4PYpBQIxOIQumB2XVmKvFm9LoAu3yMlVXLw5uss
	MKSBe5NYn0hImZ0KJpApE8ZjNZl6GYQE8E+GnFuEsxPqwr5gq5PZuLOzGF6u4hngNMAO
	smcHQnerBVeyM1sMm3LkYTYkwEsyIVkVomGD+4X9yZbFevbiHBuOg3v8Xs2d/QqDdF/P
	SvywHTLxBNqTuSbRDWyA+YPI2PI1ZJlFIDEQD9NUV89afRHNXFcgpYPOK8i172tcr6u4
	bxCKfM5tDtI3OxWvsh3I72E1CYsvrYCUuNRH2/J1FSRwZMVC0Szf/Ck2N7SoY38LOGOP
	k/agYomcnffkBbExp8VKwIjOhni5CGc4rOMs1j4vbfc1UQqmk9AIMrzUWmbLiaqsKQ7H
	9tznxuO4HKsFu4NTQLFymJ2q78BfuPHWMHuFfrAEoBm2s+sTywipA09gQWwQQly47hFT
	IoJ4yLLDDs6afRHPxCsir+GpMjdb8io7XkjFpGwZFLEn9pJ4QSXox9jAbGERQJ8pzrGT
	y7axF2F9cc/AdpYevvZH+IE7Err/MRrsAvvIkX2PcNI+rwOF5PByGsLLVWqWV/Y0UkHg
	3f2XM/hCkLP+REEzM0/iAV9liVc61ib42+I9Aw7kmbBlMbslmTw5KW3JmlzAihEpOhHC
	BgkbsG+iP40Ihy2O8201iWbSCQQISZRPGl2vYpmkgRxi4q07RwHWgGsWAevYXVqIGABR
	STBArKG/6zPMcImKDBv3k5E2LGsCHDSAvC+E15tGjGBDrFEKs5FxiBOWkHx98G1Aj0wA
	5QErutrrbHjXq2CGjeYJFl1v7hqSREuEDXc13tVusFfKSXJiH4O7e2KHmkmlUGh1aaS1
	ze6qglfMgeNpw3DCAo5J4ADv64z9S5CpRkATLr+HeFV0GU/8oMt2lpvVq2AGf1AlaR+k
	a2Pic1UYVggoHAQiwqt98bZBdMCvyb43szNEhkXLpDIDZmxmZ9iMQgtyp/x8h0RHUbAU
	xi6kH3fDcQsEvoIgKkpCbQ04g7+oe6YwLlU9jeL1KpwtiH5JEqFWtyg3nllz/Mray0jT
	Db/BtOHqhaCYpuHI7IAbQoMPd0VI2jB8dUuv2fSMv6Szg5AOqVMU2IoxkxS4kchOwBrk
	/JDYGRWw8BKMhk/msym7XkG0kNhsJPLTUPThp41/QFNEXCxFbsLEwBrpZzYoSOFHau9Z
	Tor4Au3lIFvGZsOACex0UsNCOuw3ZRkMsLsW7nJ1VyXxkwWUbIX9swV5k5/1gYQZwZZO
	b+52BdM029zMnTZ1FVlsC3OiERXgLuOmADHBhk+xRuRirByHvyP4t4SdCttkczcC1rJC
	Ev2bdkNc+Bt8RpBGrGn3IGOy5ElCj9pJu91wJpzPDiPM2SXrWbuv1tC4bZR/FYJAp81u
	vgSp4PrAKVw76QYINbQdrUHcdwnIFuYkOrdhaFO2/WY3sqvCV9jQaEzDnJ3TMJBsPkxm
	Q3avyobcQPCQ9esuN+oN+RMYssLmYMyn7b5aQQM31ba/3N2EHUnbzG3yxPXaPRWMyMq1
	AULr7m5fmeZ4XLsoKHa7R4ViVd2osEGtrlYjge+y09qooPlBlo04QwGO3W5IG7mkIcPV
	/fksYWlXK2ggKenKMmg3rneWRvJm50axhNsaoYvAADJ1Rxzhhh3M2dc4jJiuERsbmKPE
	QXe+OzXdOJ/+HpTIf2EAoeYsIara2Vyd7Vz2OGe9UGrNKoxs/yystcuwRpAOIAxGuKx7
	QUnUnlrlbl5VnStULWrq2Ic65uZ2w3mhWQ6qqRsmG7DBvdnkkL9FPaNQJyJIX1Na37Br
	1fCEKEEGke/44QO42eCwKBYXRdKt0Jx1eL8KbCRfgIWcMeDLZWPb4BzsmdcJNiIxDGcZ
	ivKpmpmPCswQ0HgF6ipd360uKDfLNTg9alG4LxYHVkh0LAFrnc1LGJikTemHuxG1KFSV
	i3XEs5ylX0U1lQR8KasAZ935NhuQ9FItFERyN3sPq8Fo49UCb29HfRxEH6ZtBRZO38K8
	i2eI1xU3RlkYU+DtvMZbKK9VuzPbYmR+gut4qX17T7UOy57ML2k5G+a9pIucRY2HNeQz
	OxVhN0w9p/i3WFwy9jufgVVnhdmCAYfDwQUSgvHuu33D82JNgsgGEpejNgyKQVDNCRuu
	ET+r27olKzvmzKOqlOEOq10EecJph7eLdsPKmxR7ZX8ue5BPki3GKFUAu6bdZKnB3y0Z
	LVFK3u22KgHfAgErLsobXbM62oBlli732Mr2SlZLyCxUawpS2D7/49rIdXGj7GaHnmmC
	qYo2nZViUJ2Ldiu3tNt43fytF9m1zb5PtoqvVOGmt4JfT7s836oSGKRXld8Q+dH6EeqS
	8AIAZrczWcs2A1y823bsClOgEqEHaILwLCbRFfSczNEtPo8U2a2fjXSh5OIWh6whIwBh
	AWYXWWIW6mpLt1BYgY0PmYZEwVrG0SMwDArWrxAvlmnuFJ39WWAzrBshiMsJBn81uEG1
	g0JaJ/rRmaAd8E9S2wyHwfJ7SENym92Jcpa6jPWi5UB0g1qSSSFQ69Hy8MqtsVOxiL29
	ckPwm0RkRq9oWGDY1qi6CUx8kEuWaUO3BcLeQ9KtdQMy+BtpS2HCPh8hTSpkAGRUiRaL
	j3tZjWQ8zKEyKr5+lqOPK+C2GY6mmNYMrHPsmIX7u+UkSDWkxqo3N0S449TFmuCmOWKX
	h/IiAlbhYCwba8MicMkqlYHjJ5E0I+qssPQqHmg68N3tuUcnbRyWF0AQqjgkkvn+8l+2
	/Aq8BWuzcJeUJqnfC6mJHNoV4jjNHtHE5aumIEPJZ7D0I59ZS8I+9UT17cdN6C2Wx7oK
	m9DhtWpLm8vYNlTrhc9ZFJIXvxits74hWeg1dbAKnRAh4W21xr9s+hWEC9PtS3GLZJZs
	hy58boYx5Nl8bu0RpqvIEBnoE27oqLETq+QB4jUp5zAjbJ92ui0YEjvYtXX+yXPdFWXb
	AA6R06ylukTsK0t8e8GpdJQsNGDq9jWq52dMn1chjnssxWZMdgTh2OkYMYxDPGLKNUdP
	dviolQDVwns2h9wA7JAY+E2ZZfP6cDzB9jksdmuMNruA2Rolnu/azRKgZAh4fxOitvm8
	Ee6AhCV5GB+4MM8afhXhWFw4FeQcg/JRQMd91iaymiLvmQriCZwtkQGXe+OQ1CW7Ef9t
	jm4et3DiZARU1uLUgvAG2UZUSmexxRAIZ+uMHA+8Q+vKxsotRbEjyJ4Ap12kJZ21/CrE
	mYYtQrBNcUC+I3ZbuH2YlMp0MVVhm4mXHD9C0Ry9leEcCJ9ZolK07j7n9tmoMkEIogAJ
	0LNpTWhWALbGt1RlbRHadezMFdNHDzzMLIel27MbfV7FuKavHOUAeWwAbKYD7NyiTpOS
	t741rwhy8ozVkXRkwKz6VqF23ckfm9tJ8rbIAKl1S3VDZrK4o7Il1Yh32Jrdw277e8vn
	Nr+7fW+YKETOlfXlccbwqwhX2WngFlA+bNvshhOaqJdsAQJQGhpu7Rmtrsa0/XEgHMKu
	u8ttBihXNsNzhCxZGkrfE9+2LK2hKQZ1Zgx+EGsodUGitX3UAfnuMEyaYnsKqnHS8Gg5
	X7Lc6rkzTMRWOrK0Ax1ssRmFRO5BYoW3s6QO/+Lk/YOWS+TxlmpcoyPWV1M/SXKoyPLN
	ATG292rlwrmZ0C/SYVZIBtWPYguhbqxNxZu6dUSD4UyoOz50zXCuq8Cy0G2t5FAhbjCd
	HUm6WWZNNkWthZWYATnKT/YHgArp2pjL3CxHi5EIejT1o/krJSPKx89FO3JXOHsVzeys
	lwPa+Vp2F4CQLP3STpt+FeEMQm7L2p597t3pwj3BP7x/Via8ni24eY8ZkTEO2011OrjH
	CuzRDgOIaQhBQYUbff3FopatsyzA5Zv1Noup0oN88HOngKzHdUu4dlvPJrW0XAU4uArX
	KTq6H9ncsY5V/olDi9T60RKC4w52ia0UlGOWa0YnwS4bFHYc4d6nCqWuytAaHX+YooMz
	eN7lC71OKksSKAKiusyb5UlVZ8ERjUvuzzvknzH9KsQp/q0DgCjE1m6R4hEv2sEC8B1N
	yt7RsOerkoDpzMP2EQS0Gpz2ssN2x3ackhpy2ZQtzrMsVlfLjNmdve4ImPFtqzaWZQ7+
	uskbQW6SU9vZwQ/F1EW392xfnAzy84SajdKY0Oq2x3IU4Jp1d3mc2J9+RrnV4jFwPKzk
	rGVHdxdo2j2Ereh2Gyn2kGxS2UrTdGLIbgPX5SU+egR8GkrnxYYSOf90wKerKFea+cVZ
	jE7SOiK+T4drBXhzdVaoZrs7qi3eRWscrUNCRXY2Ymhh9h3lpkKsWKFFDj5WHJmJaoID
	NJcBRFPFMdEatepuxjgCHpXmBAUSebGScdrnl0GuKEIgimx4gu5I1MnGiJUVNUV1GIJP
	moAQcD+XXc3S06FW+yLS+i3aydMsYhLl5VY1ZpycbrWdbs8umAzb26rnlhx7u6u1Vdjr
	jkQPBfBpy6+CXFaLOM3iZGptxxwqcqMYjDarFZuFvKzesPgddPU+oqvidqRlLFGiDttb
	C8TrTm+xSvU25WbJOLBXKROyHGWv2XqmrG0f0nWMTMZcLdPLJS84/TLIwUOiiaQwvxPy
	1Tkk2Ldz4VCYmNKxFiyFW7YZln2j4/Rilxz4XvOyed15oagc7wHS9CTB7aSbQiUSmw0Z
	d1m2OFkPucaKkNErS2zjfjlfhIQPXlYt5K4upXK29l5uqcBbcuaInOsoG8TLZKPbyLTr
	kQNLDMI4dMn6taXt8S5EWC5f4cDpsTvIWPQ1lLT68lZtdxZZ+uCUQiqH5VzFer8bZLFc
	cNryqxCHhLasbS8kp3zoT3VYjxrKjPICGTghuCYesgMWE9ZhuX1TCHazU6G1m8/tSdns
	59PAnL1/mU3JUXVuc65b/popxSAF6but97xmg6Mky7rJKt3ZKqQ1+otOn9xAjyk99vdu
	kXX+Me2fgWFRdCA8Rb7sjItDfO3wujVa6N1cnHwg/++2C/i4ty4yOWznHTkPYsCB5SjL
	4FYVOiKWcCGJ3L3uaQzDpBBL7fQpBHH1ouk41oY26YagP4QLcdytNZt2WE4TW3cExJuE
	ptR0EH0yg+cS4F5W8Mpu+QbsS2zzgciFpyVHBZwMHGG3DMFShxN1hM19n/MRZ4hjWsRt
	cNruqwiH87oHBCykr/1I6Cm85vYD7Uq3rErkEh1yfOX4MQJlgZiodOxcXb1vdIkuDM+a
	nOPQ2O52yk4rlxkzU1GYKaNw5bK1evYEJrUliqK3RHSN02P5zkhfNN3RVC9mBWw9IM6S
	lFW2GVgXfSM8baNgtQMMLB00Dk+rOUh6Q2DaTe9p28B8R8k2YbAeSwqBbpqOmtTqfBe/
	FkN2bKnDdGcIWG7e7rbnTie2fBnkhlmbq1coyZHZLMEBQciG1RZMTGx6ZKTYhEhrjA0c
	trNzTQ0WE1jAvdraPU9j/c2SpYe0lpgiGAp1U6FHr1aPOADvxIozgFvZDRXbTH65WtCX
	FZ9tKxJ7V3f6Yh9P/QLxOgzKFk/ZgTIqojfmtj00FrOdErV0P3HkiQSM8S3Z/0ZnagC/
	trFLCIVklX3TvxUEmRHwsGdQFH4zInnvmq3cukchpnIXgtX6+Yi/LFfJJCjGXVEcpreo
	JUedzjluq7AOOw8PiznPv/7MZxxidrLJgcmZtiIFocrGR7w4Be1AgbPaKpdmyZnMFbY7
	B+5SpObxxnavz3Q7Tz0a7A7Hn07r+SrQFein5dEZQvKQI3GmyF5vsnFgTQ3CYCfQ4rNH
	Cw+5yhplixpLnAYsu+k1RrymQ5AwIE33wItcMQ6AxIAzbnesSNHqcMq9CDsV6iQEOw5w
	/NOprVzFuSwUrUsE+X2csUjMJDTdmZWcohhpBdk4XvaK+vbJ4VyHrVZhsdetPFPsoBK4
	607gk9WdGaowamEjGA0pfdrQbubX40zlu3bLMh+FzzYNfLa9aBHzmu3EeobHFXl0Pnyp
	khs2lQzJGaNe9tFItFZO4LHLcXInjl2CiyxhC5u2ykeM0XnioXpMKynL0bDBGvuW3ZyJ
	R7UABd3iVr9bruhZPXFGykfvno73chXmVmfUzE+OA5YjZzni65AnyNtUVdbel1USQkz/
	qiBZPFRXogynwtxNzx6tGbbP1HWPnjsrzvzKDm3IhdenMwgsSMsOUu9Q7pknz2SOFP0e
	ZN35iL+Kcx4QqSK0TZN7xSlKj246q8H4LgroHiWYMZgfR+72A1slDuOSDRLMvZXd7R4q
	JSVk9qw4V27zZ9HmtGhIU/Jls63dLX3+wvZp7aPZpreNe5rDl6s4h+FxaCM7znAMUWQB
	zeMxjj/lHgfqRgy+wXVF7lbmYbsZSJk11hgM2Xb76pyV4sWwhxNVh4PYxGU7/LQGaXXc
	yhqlGGLN+0A6ABG0We3ZQp3H6fxWryKd8wqegkxi/XpHuuLUuZVpU7fpzU3N1kQk1BGY
	crjdJMytTnuUeWM1ZfEsKoRHktc20y1ZqtBiKL5s7SYPedlLHR6Fmne3D0+tsNFscJZy
	ukhTLwOdO21y6UZKuYO8Kr3YjCIbN9xjfvN0vKeb08HJ9rHfHoQ7ziht8sXWcIa6TUd6
	U2z2oXUOZzTLjVGXqy6RJU0HyNJ6byzHFI/N7OwBi/OJvV4FOo8ZkV1tD63qy3f7AVvb
	JMJMi9FcRKuHcFcHFZ2qycfJ+RasRJE1gv9sAQ/cx9MGwH4AVKenOHRLLDjj3qJI0zwK
	sar67Erct7pDY3FGffFwSD0f7ldhDgiGlQt0Hpha7+la3oL9MpulPpabAlMoHp5A7UeD
	xqFJ86DKNdeYFhE9SH4eW5iR2zXcPhtq3cPWViq25gOsITvtKoMv8+gykiIt+NoArE4k
	n7b8IsiNaQnIc9HJUfsjuU3nGUccTdTL9ox6cQRZnof5yzEc6CQrVCxMYAX7xuYUPsXE
	wArKBbF92D9D0SnXlxaPiViSp7lk/9GkOArwRhZOcNTSI66nw71dxDgnCZzRCxmTj9zm
	QFiz8IKqs3yyPsKsi1DuaKB14qNQERmw8gMeHzbsN9NVd8WQiFMMmi51gsN4+BDsztvh
	Hc+mZ8v1ZLj9jBqSLrobhFyznTXq6dzWLoIcQpqI7bbXVZT92OrgXrZ84dMBbBVaTJ5O
	l1hXjTne7ZMehGbR1NbduuDm9kVGbSFknyXU7c2hWZ8ZEQ8dCZ0ybGRWD84MS/1H+0HR
	B4XI9n5gNYLAmYcnOMt5zfaiTPHokScpjrzuaT15m9obx3VPjPpEFJ+islpnjspi2I4I
	mBZei13UEcf52EcCZ46B/ciDqZEfWhy+Y52kiDEuYlPfSQbH48ds916j5VtHD6qMOI41
	nbP9ItC55MKRpWTV6uH37CueqDea49CxZcl6PPMiGFnY7tF/O0kl5rXTpmCAfo+GeGIR
	lle0vXmKdct21nXCdsLFxsdw3YDKu98HSnjGcYHVgbXTtl+FOofx4pzxceZooyrJfOvC
	RBVGlJeKuS+Sar4evTl82OSikfTgN3nzO5vVCWFPn9q70fa5xNNe4GgpJAy8bViDQhnb
	aB5H+wW/KyxqHBjwcTynbe9Xsc5Gg7ydZGP9/VAmxUcaKNLt7sczQwhEjATR7p5bBGps
	iQFP9q3PStndbkeWn96gLUyPgrelF7ianacYi2PHsUa6eeSf2+uASMgli4Fjnn1WSupX
	oc7ztOlojKR+lzA+EsdnHHnYOppuPkVEmVZ6TMy03fTmdIEA5vHSw/Q1yB3JfDiKpumO
	HjgUvs2TdE330UkOUNu3sWN5j3hSYYxumCLXC6ZfRbocNeYGwbaqfkwWwPFsGg/TnuMQ
	0WkdcaActWcHeKMBcQplse4W0m1vNyaHhdR903uHxUNWCB5WLFvHDC7LatTtKIiPUxrH
	WRYS3JQALJ5+VDu102VZW1rXNruN9ahEeobyKLbaUUK/7CcHR8yBV59vAxjDQvoxWueT
	NEgCdgejFbPReBU48gCXBwnUdAdX2BI5HxjfHJ10xqI5R8BP1sN0221sOHFfpnlas3ub
	F/MbXkdGx/N77mW35hNEHHlXPduSWm8OfrmJTT33XquP0Wiy7g3rxtZ2s/C6H1jzMLam
	dyuV99Zz7HVP8OQoC4KHa18P0z1XQowEBTBTnDWdTHXR9GxB1s0r1s9j+BGLbYk3z6qk
	GWOSNh+dyYOuoUb3gF892JCRAHEOPZddtvogMSAgud/D6xYfksMY+7iBY4G5RHvOKUtS
	+MHje0yNly7RARVO83jp5NXktoqzYNe4z0pIXH0UxIyZp+6JRGmphQXHxlSau+Fq3hpD
	NGzXupeoDNS1OFjJzxQN98iAtTlEQAkq229xpDda09D7Me8KptoD2M4D29A4TWX//7X8
	D4/xNMG/fn35/Pvnb980f3/4I3cxHh+Op0NOD/T9b16djw//yxXx+YW/e/n0w2/++fPL
	l6+vz6efqPirL/36qYrjP3+q4r99qKK38FcvXz99e/7i+8d/fVn21C8vS076T69byZXb
	0x/qT97C9//uWZG8+P67509v779///xvHiK5Pbfyt79899uXj7enz58/PN8+//jy9vLw
	0x9++n8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentRenderTypes</key>
	<integer>1</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-23T20:10:27Z</date>
</dict>
</plist>
