<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	xVhZj6PKFf4vfvVkuthsGCkPmMXGZocCQzoPNGBWG9pgY3N1/3sO7u653ZNESiJdBSEB
	Vae++s5ax/5tdkz7KIn6aPbjt9kx6vr0vEmLLO9nP2hEkd/ex/wi6fPZDwqR9LdZcy7S
	Ux/1RXOa/Vj8/m12aM7HqPfSc/cYIr7Nrm/vyunQTMAvl6JO9MvxJT3PfsxIJC6Ws2+z
	qG1/rplRHEl+R98JCsFMF+fpMbLTa/E2i77N2jrqp31AtDCcGewaJeWl649ApZv9+Ntv
	/4JFeope6jSZ/ejPlxRQ074vTlk3MUoPhzT+KvwY0aNjOrERxXMEaEXsR7Dnx6xy6tNT
	V/R3WAEMigQ2Lw7FQyvpITH7sIbyeS5ujt9B2zr93uZN3wD7/5LuIYpT5WGHPj226Tnq
	L2fgySAEQ9k5ugePyentTWxaMFGfvAafA7y6sBI+viOC5BafboZ+m5dhyezHIao72Bx2
	7n8CWY+36ALMP+annT7hx03dnN17CwDU26T1c7XTn9NT9pnIA/sv6DuFlvTne/GrTf28
	6NNVVEcnoPbnWPaLVsWpvfS79P6YeXzIUV03h8OD+2PgUwig7yTx5ULUu5AdJcWlmyRo
	9PUif/9VR3HtFdkJGKVvEWQ83Dsx/78o/CXE/5mrmB6KUzHRI//PRKUkS0UoXkUNQN+Z
	Xy3/T9ztnd4UXWqnySWeWP/Z9CFq4NOZMvW9VEJ1WzIc+cfNku+shSl9HjHWTXW1g7rz
	wOii3kzP8USrTjl2gmA5Fk21klguqAWBWEjeL1LrdzECBOglsSQQiRi0ZH8RWzKTFPXA
	IhYUxxEcyRIPIR7s7kX1JX0wRgS3QMslS1ILiuWIKUXfNBPgYHhQfv9sTv35Y+iT6351
	g3OMzu/6/ql2z6OkGR4pCAaglp/vD6urb+fcTxU28F1PY92jOpFfnLVA5Iec2sRR/bEY
	MvwL+oL9EJNubdM9yvRU6hZfS8XiQ2p1noBOafe2KcXRXy7up1wdxZXZfJTlr3HSIvKh
	6cObzIJdkEuaQVOkwMHJoLdSNfmRpSkCDMBMuNFnP0MlIz/XKVjYN6eotqNT9h4IS8TQ
	BE0tKQax1BKc8PKZ0rQ5wS0XDAEGYTgWAhRysiUfcQYjJEe/hSRiWAimb7OHpbWo/Wg3
	KEBs34J38VkSVnJ/SH80IiBcT274Eqw0tfisA7H8Yx1/zSC41Lr56+yPwSkca2K3r9oX
	x+sVH+ehI9cbX0oC02Np1w3lrRg36h3RemUt3DJ3jDomfDcXjCrmnCLUDS/U9qjPnZrT
	gipPbKIFvD51SGn0cQJ4LeAmgU3EdDjmW63ij7oT9GqZkbbA7QypG7BorwxJWdgjsdth
	xPpVn7m+rgW4zm0v3/i4jR2C0QJRdzVCG11XlzUCj17ZprrUXMyi5beldNFLT96h5tV2
	+kQbadoa27WJm4tbJrZDrgDvVth1u570c+rbbo/7gy0TEq62tlWvBCzmpkXGVFh0z09A
	tDWc7q5J2tEStF4MlMEcE1A84Jwyt4zaVveIKB2Zkz3k+UB0MmAEwNJe0gFQYl/LuWRS
	9PNTITr+LmiOmaBTu7V28HJ8FyhNW+XEi455xhaJrYkRcqVb4RylhYds3ybAEyjc20QC
	FshfrJq/ukfVC05MnR0jMVLyvlobik+Fmz0QEBCv6lnX7MYMmWUuGii7ueLKtEmF9Ksw
	cbzbBp6BRegiRh62vZB3S10Le+KY+8UmCpLX4iQ4L+Hq5YDbi13Hqjn0vECyJ11UljqW
	SGvMtU1VLQKJKdz1ardHk8dz3q1WhoW5lTsyujISS9K/H18U4lwcSSMOvaH2d1uX2sph
	1jGAp+p5ftmN8WC4Hq+j7tXBfe6Sk8f7A3hK2Yu1ZGALPJgLOqavfnBys6W9eCUX+5eG
	G497oNncnAQXtoCwGlt9tjlhiFSa1EWWdO69BhFkhZgrXF/WAqlNDBQs7LKVDUmjrNJz
	XpJAP1kXX6AtNeX7pUAhNbEgkvtGdayLIBA8roWgU108mq6nqpjRw1pu8NozA3TLHIJl
	7fG2MVC8sN1a0lHlEtllELhYHbPLXJjzKmtdLYELlfvQcQLVqQf71m+F5qyLGqdKTeti
	osZkbYeIq9y1vN2LN8WUYsDt10aFGWflJgKt6YvsmgnzwWCHJRLnWGMrFwljoJ6Giy3c
	u3I3BWrZXZ2i1d21Z0eyfHL9EOypRyauOMclJtwl6L+VTV4t6mWp9PyVKkq0O7Tq3H3h
	rNdOdbKeEhBSd4V22pXSYIy6uqtlPfS2DfYTyPD6INUWJADg4Yab9DelBi+HKxM8PwV2
	J7ze1/vG5Pjnp0SY6+J86DcCZal7iEzlHr9qrrTUaqm2UXjA68QMcZ7JhKULLrF7MC2n
	TMg417qKYhyXW/myNgPcqvwyE7NYFSQzFhCrWll/E+4wf+9uWokG7Ohr2yOMoGozRQ4M
	cUBrs+rmTsnsJqaA6wkc1lxHuwbBzSmd6i6ytCHwnWzpnWoMvSyQmareNcgg7W6Woadg
	5fnJl+pElgNLzNBa5PHzkzNyqlk1b8g1Donhlir0ramFo7VzG5MZ2K0wWEdu6NUpptSh
	65V70+muzRtycLDw1pdlbIoW2oi8pfIlp5loeAdGUHq8VXkRZf18Whf57lC9ajxHi0Os
	iuLICiNE+4R8b2rVoaEua0vfRqwmK/46t0LJzjQx6xQToecnV+T0txe8ctcHSTs5Tpok
	sg2bNTdxEZgx362NK1YL69IKJK9qRXzRxI62SyaR75W/u1l7eWXt17niirfVlOi6JRE8
	ABqWp+wXGXndEnL4Ko2sqvBQNOemMAQ3joc4J5EaWpS8G9Fojv3Wkge8ziVL4lldtC1f
	yjVTrGTzUTgQPOuVuF/tK3GtkeF4T7Tnp7Y+DqQpMkhd3ZeDgDI1s3pXoDtkjYxj1w0Y
	66YEUm6ZEj9sxIE2RR4pj2IubS2rlkVc2ZWcalpV+mkabfVGmse756fBuPNXWzOQqvM9
	I1Cs1ogJLLRl75bI4sA60sBa4HBtlbGaaNUApDs2nIcA6Ng+xqR1Wzut3Z9Ev1eP+Dy3
	np8YYVmdHL6XhFFTtwPJGBUKPZ415BwZEo90acUD4CCIVmwK2HNtDzaUHs9NkO9TMWGL
	wPXmxivftc75KsJBpC6EJS+gQN1CrAoLZY5zeQWq7tcD6wGQAaEJEQenSUZvbS+RvWo6
	jkI4x/OD1EO15dFVlCz9MNwQQKkDf3mR1pmmDf1xOoWqkvPFm2WubZxI+aAL2bATs0Fb
	8Z0g8uHaQwmcQvmEB8cboUVSWzn73mmq26ARUMXvDalgPtzdsqvi4lznRzA9a695lMir
	GCsDUoGfIViDLAyKBsPhA2/qNzzoF3CbwLlsFUR0tqHl80owpSY1+U7Q7pvSQtad2WpE
	qES2Fol33pVvOIH0UflhmHJSg6cIjcZE8L3haGObgODAbjv3X1b7i1gbBmZ7t4hvSkHn
	2phsLHnFexVzlVcIb1carK10YegEyF3QfBBF3p4YBtARQcfggQWquTfKGpwz8444XsC1
	c+z0/G4Miq3D33SUCHCuhjalQZgr4KPYkS20AzyVzwZp8hCPZM+SLRaPtr3FKDdXTSUT
	rKsU6eifoYKm5U1XS3yz70qtuBLlYN1zPDD5yoqlAu83ueSCy0HzbgWmBOBOVKW4NYTq
	ur0P1U6QqrWD08NKuktdHr8ifWEgdtBLfasUVa65rQYhogaE3Et5Zm9XVSLdHoqLDzxr
	MoAyNYnD9N/De3c7taYE+rctdg79JPw2neaXSzQ1rwuaYlmahAb+9//pB5LbnP7TPzz+
	/vs/AA==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5.1</string>
	<key>adjustmentRenderTypes</key>
	<integer>1024</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-02-25T15:54:03Z</date>
</dict>
</plist>
