<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVJJbttAEPzLnAlh9oU3I3YQH2IDEpAFgQ8jsilOwA2coRcI+nt6qFhKgvBEVldXVzfr
	SHpIvvbJk/JIeh8TzJ8gHNpESkGtLX5jX0OdWlJywXRBxjnAkHwK40BKfSpIM869T19g
	jivECvJ8fr8fmjEL75fQ1Q9Lv4eZlITTD1qRgvhpuvQQ/I5VC73fwnM4Y7QgU+dTVkdC
	eNwRnOXrn0tMPRqIpPxx/M9sGPy+g5qUaV4AVSGlMBxi9nHofIwQP/uU4KbrxpcrzU8w
	p2UGUsqNKkgNU2rf7Vd+yqX65m9O719Dv/RXNB9nd/v4cQtDDTMOvdjCQrf0/mEMEXaV
	75BMN5Qb5ziemQlnKaMcNRtfwXmxqg3Dt0xTxkinNaWGKW204KgFTbp7g++5LJUSThtr
	pGaGc6su5bVbWKqUM4KiiuaMiYLM+f9e6kbgdCekpcJK6QoyjPGsrCQT2kllqVbSMINL
	ZFNrTVNpUU9iIKSinNqr7LkulJRGcKE51YzKs+w6UQrrcGWqqcV2xd3pKUeoWuIWqpTv
	/bbSqBDGcmGFZE5bg85eMs4ltxqvhcpojjvEX9dFqDZKS6O1FQ47C9KuMCowgfbRpXJ4
	Q8xQH4Z/ftxGuPUxminLJGcnpIUaUxaasIb2NgfirmmyxffE3/9JqMZ+g4nuYDO1YxrJ
	6en0Cw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-23T20:10:26Z</date>
</dict>
</plist>
