<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVHLbsIwEPyXPUdREhKguSFRVA4FCaT2UHFY4g1xZceRvQEqxL/XhkIfqi+2x7M749kT
	aGIUyAjlCTQ6JvtEctcwlINkPI6+sFcpuIEyG6TDCIyV1DKyNC2Uw3MEtbEa+YWsu0Bp
	BPvred7WJjTe9lKJRa+3ZKGELJmNCogAu+5eA/7uqoY0rmgvr1gSQaeQQ3dPkMs1eC0U
	771j7Q04KN9O/2hTi1tFAkq2PfmuxCzbnQs+dgqdI/eMzDRRyhy+adiR5d4SlHlcRCCo
	4+Zmv8IuPInJb47Go9S9/kZDOOvpcraiVpD1ondb/kH1GhdGOlpXqDw5iZM0yQf5MC3y
	rBgNiyLNfZRYUfjYJqRa9W5FFQcLH6Eg86KHcPD78QY0F8Ano2X7x048eLiskdcYp3mW
	nj1NCp+drOVlFNPwzce6Diq3Oc5/EiqjYz8nRXHXGDZw3pw/AQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-09-15T22:06:55Z</date>
</dict>
</plist>
