<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	PY4xD4IwEIX/y5s7IKBDVxddNNFEB+Nw2ENqKCXtwUL475Zg3O6+vPfdTXAsZEgIeoKj
	KBwObN+NQBdZXqofu1sjDXSZFbmCD5Y7IbG+g97MCrUPjuTGIa5IYVznY1f7RVwNtjWn
	wVUcoJFn+90WCtT3/w7SHl8NO7rwaFeWKfQtyWJPAXu+It0i8xmiuPRAhH485y8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentRenderTypes</key>
	<integer>2048</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-23T20:10:26Z</date>
</dict>
</plist>
