<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZBBa8MwDIX/i86mZEnbg6/bYLl0sEJ7GDsosdKoxHawlcAI+e9z0nVssJv19Pw+SRNY
	EjQoCHoCi1EovBBfWgG9zYpcfWtnNtKCLrJ8q8AHJico7B3o/ayg8cGinCjEVXpQMN7e
	pWv8ElwN3JnDYCsKoCHPHvc7UIB9//MHUh3rliy+0cg3LVPQdyhLejLw6xESC811iGLT
	ABH0+/QPmxxWHRnQEgZKqSTC7hKXOahpqP5rXpUDWkqI4unEI5szJuC9VTohF1k+kz3h
	2SQyN7wu8rw64H6A8nev9naTFuxo07dePMwf8xc=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentRenderTypes</key>
	<integer>3072</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-23T20:10:26Z</date>
</dict>
</plist>
