<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVLLbtwwDPwXnY2FRL19C5AEzaEJsAv0gSIHxaZjFX7BlvNAsP9eytts2qI+ycPhcETN
	G+sxhTqkwMo31ocl4fwJ42ObWCm5c8Vv7GusU8tKkMIUbJwjDimkOA6sNMeCNePch/QF
	52WDRMGeTueboRmz8MMau/p27R9wZiUDfm01K1iYpnMPo/+larEPe3yKJ4wXbOpCyupE
	iHcHRrNC/XNdUk8GFlb+ePvPbBzCQ4c1K9O8IqliSnF4XLKPxy4sCy6fQ0p40XXj8wct
	TDindUZWqp0uWI1Tat/tV2HKpfrib04fXmK/9h9oXs7h8u56j0ONMw0926JCt/bhdowL
	HqrQEZnvOCjuOXhttNVCayBWEyo8Xaxq4/At07TW3gJ3gjsNXEia3GGTrl7x+1ZWTksL
	3mslhZDKnctbtzQOuLbUTO/JLUDB5vy+57rkRoGy2ngP1oEv2DAuJ2mjFXAlskFDwpx6
	s6utZo3hIK0XBGsn1IfsqSylEd4LTfOtkVyeZLeRSoBVmgNYaw1FSh/vc4aqddljlfLC
	XzeaJWEuybnjDpy3BXvOOBhQinainVYeQJL0y4ZbLrxxXggvLPeOttluN9SCSMJwA8Ia
	YTylqI/DP0+3k377iJGvA+JItFhTzmITt9he5khcNU32+J75mz8J1djvKNMd7qZ2TCM7
	3h9/AQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-09-15T22:06:55Z</date>
</dict>
</plist>
