<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	lVPBbtswDP0Xno1AtmMn8a1YV6zAlhYJ0B2GHhiLjtVKliHRbYcg/z7JadomKIaNJ/np
	kXx8lHdgiFEiI1Q7MOiZ3DdS25ahmoo8S16xn0pyC1UusmkC1inqGFnZDqpyn0BjnUG+
	I+dHKE3g6XC+7hobC28GpeVyMBtyUEEmvpQFJIB9/5YD4dvXLRlc0ZM6YCKBXiPH6oGg
	btYQeqF8GDybIMBD9Wv3SW/qcKNJQsVuoFCVmFW39VHHVqP35H8gM11obZ/fadiT48ER
	VNlkthijyPK0zObT4IKkntvjNDX2kSkv/ppi8EWZwbyT0jKB9eXN1Yo6SS5IehMdLvRg
	cGmVp3WNOpDFRGRFOhezmRChXJnOF8H5BmuKY99Hz+vBr6jmqOh3TCjKxUkUCTxHPM0T
	eImHPMvFxwhetSNhdgKLabDZqO5M/SQ/lJ2VaTFPp1m6DzQlwyJUo8a9XkaTvjZNFHV8
	FNcfCbU1k7B0TZO+tWzDOv9zf7117FDx+SZuX/E1O+q2PE5VHOz6jp006B5H24Ji3yut
	P3sA/jT32Oowz5XS4S9YoglOwJoHqexdBucG3J7k/KMH9/s/
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-24T21:29:26Z</date>
</dict>
</plist>
