<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	fZJNb9swDIb/C8+CIUuOnfhWtBvWw1ogAdbD0ANj0bEGyzIsuu0Q5L9XctZPFNNJIh+S
	L0kdwRGjQUaoj+AwME0/yB46hrqQWol/tjtruINaS1UI8JOlgZGtH6AuTwJaPznkXzSF
	xZQLeDjfr4fWp8T72fbmZnZ7mqAGJS/LFQjAcXyNgfgOTUcOt/RgzzYpYOyRU/YI2Nsd
	xFpo/syBXRQQoP59/KI2DbjvyUDN00wxKzHb4RCSjkOPIVD4icx00ff+8Q3DkSaeJ4Ja
	ZdVmOSul81KtizgFQyN3L900OCbSXPw3xOGTdbN7g/JSwO7q9vuWBkNTlPQqOjr62eGN
	t4F2DfYRlplUutQ6z3Wu5UZVch2pFhtKbd+nmTdz2FLDSdHfFLBaF/L9qQQ8LonK8oNd
	agFPyaGrjYBuQTb6A6GqOGlnh08NZPrcZVXmq3VeqPwUMWviLmxrl9VepTl9a9uk6+Vf
	XL8HGu+yuPeesrHz7OF0f3oG
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-23T20:10:26Z</date>
</dict>
</plist>
