<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZBBT8MwDIX/i89RlXZbmXIdB3YBiUpwQBy81V2DmqRKnF2q/ne8daAhIeUQ+8XPX94E
	jhhbZAQzgcPEFJ/InnoGs9arSt1677blHsxKV2sFIVryjGyDB1PPCroQHfIbxXRtlQrO
	y33vu3AxPmQ7tM/ZHSiCgUo/1g+gAMfxdwY2q6rQRVlqEdKxJ4evdLaLqBWMA/Jljby0
	Lw3IUmy/cmInJAnMx/QPBHk8DNSC4ZhJXInZ+lO6AIWuk7JBzvH2D13U9XZT3h8F1o+Z
	d2EI8QqxTO0kkfsyeI5Lqyj/GtRbwcwsEXQ4JBJo2wqv7ew1h8ZhvLn/ZLi/14/BFZLR
	QMXYB3GZP+dv
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2023-03-03T18:31:16Z</date>
</dict>
</plist>
