<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVLLbtwwDPwXnY2FLIp6+FY0KZpDEyAB+kCRg2JzYxV+wZbzQLD/XsqbbNqi9sUeDmdG
	FF9ETyk0IQVRvYg+LInmzxTv2yQqkM4Vr9i32KRWVApKU4hxjjSkkOI4iMocCrEf5z6k
	rzQvG1QW4uH4fTHsxyx8t8auuVz7O5pFJZT8aFAUIkzTqUfw/1K31IdreohHTBZi6kLK
	6kyIVzeCvULza11SzwEWUf18+Y83DeGuo0ZUaV6JVSmlONwvOcd9F5aFli8hJfrQdePj
	Oy1MNKd1JlHpHRaioSm1b/HrMOVS8+FvTh+eYr/272gezs3Z1adrGhqa2fQUiwvd2ofL
	MS50U4eOyXInAZTTpkSrUFnnUPMoQ03Hg9VtHL5nmgU0VqO3zHXSW8tatE/nz/Qjl1E6
	D8BVp7TRoNWpvHVrLTWU0llwll/kAc35fk91K7lRgkfD+t5yhmFcjtIGlFFgjTOaZSz4
	Ykt1tPVYcmqtjEdpAPBdd6tbZQwiWGRfieBfdTdP1AiqNByq1NJ7A4fbvET1ulxTnfLE
	nzMNjPKyRMxHKLX2bPG44YBotDXGgQfrFONPG44GLEg03mtXcuhCtMcR8Lm1V0pZbz2P
	nNeoj8M/d7cDvz2WL8SVWpUHpsWGFy3u47a3Z3knzvf7nPFt6S/+JNRjv+Ol7mg3tWMa
	xeH28Bs=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-23T20:10:26Z</date>
</dict>
</plist>
