<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	vVhXj9vKkv4vepXXZg4G7sMwZ0mkxLTeB+YmxSSGEamD89+3qRmPPcYF7i6wdwkCYldX
	V/gqsKi/dk02RWk0Rbvvf+2aaJyyQcnKAky77ziCEV/eaV6ZTmD3nUBw7MuuG8qsnaKp
	7Nrdd/TvL7u8G5pocrNhfCN92b2+Patt3m2C47msU2tu4mzYfd9hiEDRuy+7qO8/zuxw
	FsO+Il9RHIE7YwKyJrKz1/JtF/my6+to2vRA1vLg7KDWKK3mcWqgKePu+3/+9U+syNoo
	rrN0930a5gxKzaapbItxsyjL8yz5zPykWFGTbdYIwhBBaWXiRVDnz121nbJ2LKf1ze8y
	hcrLvHx6JT45dj/RUH/fS7rmK/S2zr72oJs6aP3/0tw8SjL1icOUNX02RNM8QDtJBIGk
	YojW4Lm5Pb2xbQc207eoweUdPp7hSbj4ihEsQhMf99umBPl33/OoHqFmqHb6kHJ6PkUz
	NPvn/qbmN+FJV3fDee2hAPxt8/Rx2pmGrC1+t+JN9p/oeaCcMi6qoxba8X+B4bupv4P4
	yYey7edJz9bnznPxW3CRv/+0T5CFLC/bckt67PCMwKby3xPtLs/h0tmC/F5lyFcSJ1Hm
	4yZY9t0FfgP/ie64leQIU/YpY4ymYzYkm1l1xjKbCJohcBSncQYnKIRlGfLLZy75jY0h
	YYKgLMUSOMbgCIP+wUaTT3swlKQYiiRZiqbRrVNApheIsBvVc/bMM+TtwlgGwXAMIyCm
	b57xsKc8TX5fdu00vJG+oijGUr/d+KfU+zMqThMN7wj8eyLxL1JGiuoa+vCU8iQ4IBr6
	NhshC/ZOEtMic5Kozrae8acDtn4cuuehrP1/yioQpd19fGJNEQz666bJd4uNt/7/ER8F
	ruuNBk/9B4z8p/aB0OxPPqODbr4fhnw4Sv1+0dRPPnHpu/HZvyAXhiE4/esmiJ9c3LBJ
	esMS+Yp8ygoKRbAPvjpKrsfu2VY2eZ98YjD8z8LoEewpEIFvnGcKYzRBIjBHIWdPItse
	8V4ByHvFYG9J+JHZCMUgny6I3NS1UW1HbfGW+xSLwOLAGYxmWJZmmS+7+Dc7n+pRlqZI
	FL5SSZbB0A39HnuWFsp8sg1G9Ym+GfUfr2ZI69+LmsRYAkVpiqARkmEw7Bf3+0t7Y663
	0HyqTpzCiN9doH6de3ktYL5dVPUfu19ESAmIuq5lWYnUqbp6kRIQUpbJuhYEHChqlAgC
	rQaYLvj4FGfSwoYE2wDZEcKuxmefoqO+LivPOPm3Ou/kEgghWxWYLASqC0ppr4SBBeWQ
	RNilFfAOYuCzeY7xetj1IHdJ2m8XUMg6HxBcc/VkNerJx03GSGBN+ILn0jVjrHuj/fgG
	DSoy7GCEWt3VmK4EgdVVTeQGJABXRd/HVDhc5dULo7RsZVn0/RQ6wjGb4NqXX4FxE2f8
	NmfxTUFfsFuoWlWOWT++hWp/BY1zCQPQtzJWxCFooeAgDtmhkUs9JOq+9w5uoJBZJqGY
	h4dJ7uliHJL3HudB2LtN4+0bIbRa4EUi9Lip/Iyp0+k+e809N9ylbbAs1smxV3wP1vKG
	IB+QG+LQ0BbKbXjT95c0rykxUEGWSxAZnDnkkC/s7A5gNz0xJHxpZj9S01sll2qkLW0l
	R0mSWN3oRVqkWcvNa4owdIsCrQmvXZKsRjeEs7zucQ/vq7zYvwQEeS2wTI4D9n7F9sc4
	rIeymY2I6G9lUyoh4bZAzmCErQ54JcwMAPWXchC4JfA86J9WF96Bg5Es8wYCKLYoRH72
	QoLsygY7JqG21grvxr02X2XqCBUNJXQgCkBXyjc1VtGp9qgmprXx6m2Kp36UyyUk7KZo
	PD4kmKT2ZC5UIbCYx0MDpqvi3SrroCNthmQxh94UPUs0e7p6Nx0GbB3wDE2phbgpTpP0
	LDr6tJAY/dhijQbP32pnTrwWxLm7gsCHAOA8Clg5R4lXE5ilcQ88Ir+xVKdkeXLj8Jt/
	WzO6ZpfgHGTDnr8r62vaT2vd7O24n+a6wewTyYGqkfbBmDYwMG3ck/RrkJsFfZBe1Ygt
	Ypi2CzEogPE0BN8z+TjzE3Hm8yGlB2V+zUKW7NtmSiMLa1svS0M0blzn6GrcZUEzKmZS
	6q7qeE7bP74NQSwXo8dN/fnQWuvpQcbnKjk4C2kIpdFIE5ERxcC/jB2/lOZBexC0VQz9
	j2+T75BBt+SVrB+iEB0G3A+zxN6j7Sufxyw1+k6eGw13b7Exp2/8QGR4yWDa1M0EGDLp
	rubiNb1lFPnjW1tbe4/oYMyB0Xtp7a4XnIO/Iea2oZeggPQICZSyp8H67gZvDlKtxzv8
	1hT0LMxKtKSxTdxwjK7YQ07rAtLNWEhryqka9ubd4/Z+O8W5LLFBy5aFLMG691nYOCLY
	SEBZYbK3NaYSO5QBZVd1kx1DkusrbD4nGovf2j1eGjdtDhqyiLn9qOikr5ApLAPSb9Ei
	fwrsuLrAGljX6JaOaUxpQ4MddJ+wCqiR9icUNgaPizp0qGA6x6Hd1J4OFaPQs+gQEGiI
	uI3j+WyYuNXd0/owdQHiKXaYudPeJ2xQYXBQ7zlYFpQf0SbwLtGQhKRRl1qo9XY3NrEZ
	BvW1lA9yQGgFuBiqz4ATJVeqMTOXefFLSUnQxjuW7ry4ZN3q3n4BFEr3wcRULKhTRUOP
	HWANWWbCuInzy97NM5TcEMyymqS1GuUe3HxWacRRCoIRVuQoOvOcDNLp7rf5YURT0j2q
	B3NJcTvPJQFhO6SKRcS8BIsjB3PaURJ+zKw0Wd0f33xvHMtgjXP9HAwWP5L6Y2yO4MIo
	3enHt1GkJrUjpQWLZWCO1Mq3puQiTo3sAz0RL77NJQKx+Pfm3Dp7KX4V9dUxJX211VVy
	1fPB1i7i5XJ2Hujx5Fp8LEaoRdZBee3ZULfDV8ngT5hYXXjnpOJJF62WrEhFeOaIvWYw
	9YoMvDtq5+u5sWQwWnJBckbDsL7ArkeMFSLE9m2KeXSCF1mxyHbnw3wxasnn0Re96oaj
	w76Y15fl9HhhjIppTnyC6D2cVeQSRvyayOAeHcTL7fKYTBHU3EWULrbLSr7Yg7NnHWNJ
	mi4+eb6JbmGKp/W4EoxZMeuxsnnzfH+cztqLKXRzK9+isHPLyr4XCjfi9hrq+oU4yw/y
	eJJC3nPC8NCEcoT06BHrgviCVTYm3o/nF9qorsuxUvfmA8p9QNDN6v565PeX8JYC4KJ7
	hTcjxV5c7Xq9nDlNOF469nyRyKMyieEFDI4vnqKCSG0iVYOzpRvQ8QNnkgIQnSMnMvrj
	Oh94gjJIq6ql1fX8wFFOSGxdx/rMWaYkEpT9ALqpmJQnWsDBWDNdWSDYqOCLaWZdmMFd
	R1R8ICZXjC5/F+eDw+BGFcyHs7132/4SL+pDWIvQsAEvIXfyUrm8UCH28THFtpfqITKt
	sNgsgwOOXY8P36kd/XxyDi+ILHAn48Uh6E2etTKseEaVUJgGaUkC2YZBWpPDyYGxQURL
	KFDl6ALeQ9Kb4xFJUCCxcK0FX5AKXVJbixNJ4SUwxWLk9QcyWSX0+3FPjDsRCygTyVwX
	yMsYGwUaSnhQhHd2MGoG8wW0ODWSHK5TKmDmMUW0uyl17cV5mcRKPSr2C8ovyHDgx9UQ
	ToPlRJKodscKQHmgiBWue5VQxvcWcJVrJIztGsguEnpcncheEoagRmRffT2voaE6RGXx
	Aa5XyHjiO0J/iIPp9JpJnEZQ8rq83GN56UL50fmWXfgylwQSqA+yK4Yqd/VlOwml5e3X
	ckhTuyTA4K+rdja7A3/F9CqA8sZVr4hbxduC6ozbeHjfvts/ploWDqD4r4F0m1LR50SN
	/DlRw2kXwMkSfk09PyYZOHLTFApHe4RE4BD79z/7NiQp9NOF/etvw3PX/k//Tvivv/8b
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5.1</string>
	<key>adjustmentRenderTypes</key>
	<integer>1024</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-02-25T15:54:03Z</date>
</dict>
</plist>
