<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	nVfbkqM4Ev0Xv1Zvl8AYQ0fsAxeJi839Zry1DxgwwoDBBhfgifn3FVU9PbUT87CxDiKw
	UqlU6pyjlPht1eRDkiVDsvrx26pJ+iG/q3lZ4GH1gwFr+ttPW1RmA179WAOa+bZq72V+
	HZKhbK+rH+zv31bn9t4kQ5jf+w8T9W31/vlfu57bJfDpUdaZ+WhO+X31Y0UDmd2uvq2S
	rvs1ZrVZ09/Bd4oCpKNPcd4kbv5efnaCb6uuToZlGuJZWt6KTJpkl0c/NCSTfvXjX7/9
	TRL5NTnVebb6MdwfOYmaD0N5LfolofZ8Jk0vGR73n+sA39fchvrygO23VXntHoPU1u39
	I4l+WXQ/lOlHjD4Z7PyekgTKOue5JQTPs2DLMWuKBSzN01uC3395KYsb9RfjdrMMZbbM
	BvAc2DAM4AG9/fQSHkMbJvUjX1zAh8Oa4ymKo3hmwxEUPhciEZI+MvzZbK/D/Q9TQkKs
	fpyTus+Jf5ktk57LDyK8Jrn/XN4fJGpf+9O2+U5IqvPvHW5JlN+//X8w4yRrR2L4ByGY
	Buvtnw/D/gR5/6m5X0tQSbtebP0X475Nk/qvnnDq2v5xz7+YxPvic837r4PFOkkruy2v
	w99w2QH6A2Gw5mlqw3Is/ZOONZHeBix91EfzS/cntL/Yobcb/uuPyGdor0ntJtci/wzA
	UCwZR7EcWTdYQp++5rTMTvFbdkORnbfhOZrakjk6+kMef5fYBz5G0v2xYdeEjO5TiNwv
	t89h1J/ef2zlxbTg+V8SW7M0A7782D/HCe8FkcSOqv65+tNILHY49of5eDEBcz9gvrYB
	151BNAWbOjg9eQ5FjrEXKM1g4rxx9UpJmMPNlXKYCKYyAkV2jXg3MawWGPl+Si+Kp5uZ
	v+n0RmOS56AbcHx79SvdD5n6XIV49nV4umArgXRQX6VLCr3xeJtuDdQFCztUIgupBSW0
	Vy/xaS+OD2VOj1owbSMN8smzhhaIOU/mTReZ2rnOpWidlTf5luvHirsETaRxoxfjckTs
	GDyKl1b2K0N0uFQPhMwQ20qZjYM2VaUZhHIKzdKCKevKlG4DCoWguwUaynGTP70b4K84
	NywtzkZRdxXNKEZ3ZmTGsNEILLkcc9tl1socJ3uxKtHEcJFfe1YwMs6zk+0Aiz4IU/8g
	NHXZdO4esoObsXJlBImYOBC1x0bceXAjmHHBTMSemjOk1aeTk3id4jlH7WIqpj/SzhOL
	VuXwXqC7bqTRZ3mOrFtVPkT2glBs56KkIVXzwzmvdBZ68YQa+RlHhgdn7QmwJY5XRQoO
	Kg6w8ewpW47fXi0It65P7Zxa12P5Ju07F7WzskdwDJ0RVNDWyhJPL3pSNPdJz2Qfmkpp
	7tQnxE4pvChz+wEkcntgPQPeBALjXDpkB50UVOFFu2KpQcljl8RxIGYHuRpjjKe3V8RU
	+OK9i/K6MA2XDzUqzQ3MzKpMJISrFpVCqPoOZ/oM48i1TBh/8YiC7GbMz6Wimzvt3okZ
	jZo0rMSs0lVQtW6Tqkzh+9j0NADPBgbvStke9altFUlINDcuTR/Q9ieSnPvk905t6odZ
	f7H0dqildwlRzCFxj0/UaROWogPSgHebHp6G+tyYmKcyj8c9LgZF5D4WThii7EsmWFBb
	FKTZYJIDUOeOWjR4Lk+qxmSZm8XyzLn5zG/3XXvup51tHBhszsKoSiAjCifvgjCTNsrs
	nHQ//WBm4zwHxQ5qwQ9c36VF4wRzcd85VT1btkZzrueamz3TjrW4O2tN0HgeBOrTSHeY
	GVSZADqlJME40cX08osZmBIgkeUiV4uIukPNzJ/PiN7paXBz9S1aa0NZsmsZ9E3guVAt
	QbGfuJ68M8Md76iEh/1UXRDmFmIkCwQ82YqGU4sorLrMp8NsoE8gH4LqNm1ouCu6bGZt
	8wYfl7mTNNAvRI9KyWU7tx8IAPFeDLBSFgddxtInMZudE2xgALLEV0T32Oy2p/POfXuV
	bRvJoxd5dWN1+HLzveMuSC/WDEf1KaR7sehIoCNZcEW0Hmquk1qVsXWflO7ASQqCIxlK
	2XFttuGWytebPXse4uaJ6/OuwfK1scYdrdUWZp7qRUv1abwrZRork3Mie/tA4iVE6izZ
	MqpdTWIAw8BDgxkjdA2jm8hfz3WWWy4f7xslSp8FSu6He3sjxVUnezpdlK1KfaJPBUaz
	QxSUXpDYhqo8qZ9Em75L1UaMxDpUhsNpvWZTmz2/vbZbTh9acp5Gx90GhrlbW+oTpATB
	qyoxRx1PpuJp4Q6nFZo1T3GNxA4KUnUD3XFDvD9U/GdEqlvH2XF+e70/X8J3J0hFd1K1
	OE0EDssYeqq71O/gqOEUk4iROsUl8mCkYSdDIuA/tRPuDsGmDOj6kIbUJo715qn6L/k7
	kz6wFpOyfj1N8F3Gsa2NjCVPWqCJaYHweNDF4IwkIVCm4IQkGCjPRTu6GgUTDiJM4m34
	48kc3l67t9cX61EUs1uy0Hd8A9dreWrtncPFshsYksM5BLyDJsYFEkdSFo0jErmQtM82
	4JdCnvv0MUwR9faa2Gz+9tqrL3ebuTJi3cC6D1Ts0HBuHUtgEhLZUBxwl53elrHRIJfz
	FVLj4BQHCDs5cgdS0bKjHyE/qTs20W2R0LJ+ey3fmZGR7bsacofM1U6wLHxTdA/yTE5H
	BxgyYVV1QPgZWQshTj2EtYi8A6VyA6+e7GN4nOMYUx8pvr9vyHlZWqLWCanpOmuIOUcV
	hRyWsa2OwJGF1pQckMsuNEjt0GWHcSDhDuLWQ5MRuWG2P1Coiw64re/+S0kERJKtty97
	A5SjWFfwGTjQ4U5QLGyt4DJZHA1UAFsWYlMuRl0auaUq7eSiN2WBIzlnWlRRZahMeaHK
	L+fzxnh7ra4vRsZ1d5GtEcN5msBZMmYcdYKejAUTOmAvz465K8Ze9ki7AJo0BiRloJIT
	3oagTn3ajE6NIpOKxzJvr2D9YlnicVn9TqHHQ42NGxQ1P8W3G5JIeIc5ysLoqg4TyALB
	luArjcVeFHokjc7yhguecR2+xxqaOHW9dx6J/vb6vD+1e5zkU36Ec+EoWO8UHh52IxfJ
	U2GSBU/yXBlSATwywV50ekkaDXJr6KE0hrsIbC6hQuXn6BFlb69z8PZ6Xb+QitTnLSbH
	0C4le05o5adzvIgZi1C1XBAIM5zpjP1edmNTKkZLGtO95PQEBoMUvTrxIz08hRN7PN7g
	C6HetZlx61kXNDOBjt0DFKFzxO47ugWHrODVhXEkgGiJQ1LbyaJgkHSVpS2MveSh2oxD
	9x4d3JJkeH95JwHXczLoe+ewF40zkgNPE2UZaU7gYVGU59jYFYs4W0I4SWwKFuLdBcwl
	oDRqy2VxxOWQ/7zlUn+5Yy9XVurjfg0oassyW7DhOHq9oXmGdGFyzdzl89K9ZXiaZRiO
	J59VPL9h2d//r68dv73m/+PHzr9//w8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2023-03-03T18:31:16Z</date>
</dict>
</plist>
