<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	fZLLTuswEIbfZdZRlDiXptmhAwgWgNRKsDhiMY0njZEdR/aEi6q+O3Z7gHKEmFX855vx
	PzPegSFGiYzQ7sCgZ3JXpLYDQ1tkokz+aQ9K8gBtmRUiAesUjYys7Ahtvk+gt84g35Pz
	RymB5+P39djbWHgzKy1vZ7MhBy2I7E9dQQI4TZ85EM6+G8jgip7VUcsSmDRyrB4AdbeG
	cBfKp9mzCQY8tH93P9xNI240SWjZzRSqErMatz762Gr0nvwNMtOZ1vblC8OJHM+OoBXp
	YnmIShR5LZoytCxp4uGjmw6nSMqzX1MMviozmy8orxNYn99drmiU5IKlT9Phh54N3lrl
	ad2hDnCWZiJfVkVTLkS1FE2R1YHqsaPY9mOceTf7FXUcHb3FhLqplqcRlvcS9TwvstMI
	+mvUy3rxTS8SGA581YQ5GzX+Zz8tjnUXdSDyUuT7gCkZNqF6dVjseZzSRd9HVx+v4voU
	6KxJw9Y1pdNg2cL+cf8O
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-24T21:29:26Z</date>
</dict>
</plist>
