<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	tVfZkqPKEf0Xvao9wy7oCD+wi0Xsi8DjByQhQCzFKpBuzL+76O7p23PDD7YjzEM3lXnq
	5MnMolT1x6ZOx+SSjMnm9Y9NnQxj2u/TIsvHzSuOYMTLhy0sLmO+eSUQHHvZgL5ImzEZ
	C9BsXtGfL5sr6OtkDNJ+eDe9bO7v70pzBSvxaSqqizHVp7TfvG4wRKB2m5dN0rafczY4
	g2HfkG8ojkDPcM7TOnHSe/HuRV42bZWMaxwILUx3A6Mml9s0jDWUMmxe//HHv1GRNsmp
	Si+b17GfUsiajmPRZMOq6JqcU+WNeEzrNu2TcerTzSuJINCU9ckjenOub++wdUKY9PVa
	Bjic4asHZ8LBNwL5/cHe3RKcsXm9JtUAY8PA4yeP/faWTCP49K+BvtCfQQV679FCAvzd
	aX/Odsc+bbKvOt65YUmKC6xGcS3eyhzmxZhySZU0UMevJilfEWdQf4NNqNJvbQ6gmJ8v
	/2UVwfUKh+5avI/lgHyj0d8fWI2iaaeRX1N60zysa2cYi/Mbx5CMVtqfV1lVytArBYOh
	JEVTOIZiJE0SBPPyO0p+h9EkTWM4ie9ojCJxGvkrbEeuqB2K7zCSROAfBqfodxALax8k
	1ZSuCGRHEziKUzt6R6AEhNKwlO+p8XD1v2n+GIJm7H+ZvvTvr6V366T/SPj/Wvg8uYAZ
	Gv4GFyFKfX12xEfZ9feP+TOFPRxXq234YtTBOan+ihSXFgxvX8WnietXTJMOXydzVXIu
	LfBrgf/e3RbB3kqM4B9NxXYEiTA0Apd1SyKrD38b/umm3kv72R4MtvfrQ8OvCTRJ5SRN
	9g5AEWwHMTiGwAZTNFxxp6+a1ugos6NIFO5fJENj6I6E0THyvfkfen4JgOHf6nNI2s+d
	EDaj/bXmfleL/Yn+2CNXcLXW87c1BvPCvmwRKPrnPPaewSXhK4e/b/40Qks7Yg2enC6d
	qQGcarKWwW7Y/nmFW+/xqVpCdZ7OiHo0qoMZLu1Nrc/d6anejebCZ6hmHdsLmPCZYcJ0
	mGz/2A0TVmDaMWkvdYl1Vgz5K4w6xjFT5yj5tCq682byuK/OXbiQjV6fp/jZ9g7kS5Fu
	f2yNCRCyV8vm6OxuhhaY9Z0idw641CtPApgiRzt9xXG4Jvg1vY0fbaPV54e3ED++S+VZ
	g8J3LjDCHNP0CDDJDUtOeZ8GE1Xik1ZqA0k9q/otoOCDSwH9eggMDSYkxMBIokfriZDH
	vBMTddMT466ejGbUMog7gTEpUGoPebsKp7y62w69ox0LwGxhgU5KfabOSPzjuwcMN0XI
	+wEaYkT1lNuOOkzRhBa9exgBzlb0AwJ3TnPenpC2sVbck7z7NZOk2GNKoJAUOfbibbd1
	lthTIT5B1Maozok7k5YABVp35UEWfagORIEUp+Qwq3u5pB/hgzypEOctqs6Vg+Y9lN1B
	P4TQbsm3/qGO4EHdesq+k3vod51Z2TI3WnbnCGNueqFNoEbznbwflOJR7BJzamWm1Clz
	IihYkA7mgVHOCRnvEUXfTpCPcBeIVwaixou+OEyQH87TYRwC8kF8TRZ6qAwghThNHaMO
	f+d5wP8rbiLKA0vcXQrG7/QJJMtV54WOMPuMwsQehPc82UoDkSx5t5V6IpzzXpb7N75V
	J7TvQphXjRYnE+qBunomffB8c9C3UDdG5DteGAhtyLqO74DcZknNdYoMsqTgO0IDWVdw
	H3a+U7Q2oyaxV9wx76h9T9TYaYf8+L4USaPF+ZrQszhJP773hIxm3arQnd4UKuaQa3Ac
	mTDSg+8Vrc+Sju2O2y7T1oiQueuEXgknqEgdkaciK2xqKSkGx3J/E/HDDSyWZxiGoqCl
	4F5MTSSAV+dmSzMg5NuYWhB4gBou1Ej1e2y4Ug8OVuStAyMxEdJpds58fix0dw8r/jjs
	WGQQjhfjx3cb3/KHreYp1OXWKmZpU84TVS0fbN0bc7AQlPMQ1XEkQwrEwLcrhYmdQD7I
	Zz/Kq8ZTA633usHuJn4geEQE/p0RdULDlEqHR6dUq4huH9aWJvGg3mbnRB0bjKrOmgMA
	tgUJRQIUuSZSNHc791qLjm9JLMOqvrj1nkVvnliTZ5G9yEUnbQl0OwmkXgxLlzKcSaxP
	J7Uda3k6JiQ6g314uyQG3vmPWonKOBI43B1Ky7TpvTDn5IhvUVMh5eeM7AXWt0TunMoi
	e4/55aTW7Db1pJu1I7WyREsvvFiJJA1+uFhnf6lU+WBILCIJuXi05q0vkKx1k9LHtVdv
	7eNuCllkcCxtSA8x3PMDorrDLUHanXhDXFfshIC4XIrQNGIC7cp6CiJNcQsbkYUsM7nF
	z0RJtFwWNbRaRDOhG9UgM7gMEQU7swROsdWCqDQhAE5TWs5MBx6hupmUyiHRpkUdaomq
	xlVGR4Jd2vxMK5JDO2FGQP5LMZTm0xSVMlz1277B2bQq5jHVl8VgVqhdz+RTeBp1jiVS
	DGJQyPXhFEuPOnR70bFNbl51nh2Ji0/CEll8zZPXvq2WgnoKcwn9hCI67LFp6sJtAek/
	t5pclVEQ8LpP5X5fuXGoVkkVJMCPwFHhFEtkB0fk7EhAB8u30eJQt3If3iRrZzsBxyoi
	C1xRroOEVLXiaQjqLTprXNntAzv2lzGQAz8O8tbTpIpN8nyRONaH/Tzupcw8zsRWxGj8
	isSZFgEi9qqnUCrmieP1GKBpHjjk4TlPRk4Pe54I905WyxJ93C8RKeZRKD9bz5aBLTiK
	JS2xGrmtorZikPnbvUcMluKSmYXNaPzsKXNPJilqPNwaPC0evWqgrK8PDv7qIPNRWexG
	cGdD5MSjLNCMf3sCMTX0yG+vuh+f4M9XqpGtWDrnTEEAevWky2EP8NhvGwdTfnw/CkYS
	xpe4LGUtikmnclRZeJx1yR72Anfw1CVXjW480GV8sqpzaweynJDBvbltT4KN9Ocbp+ml
	OPqec3UqVAifuaegqFALJO23pFGXU7AXganNxMjPB93IWQL+SrQtP2ZWaONhcaCcoxTl
	smad4kFnH5hvGjbKeKfeGBk28JjgsD9k3pMkXVBpmVgrOhANIRvElY/NBkWwI4Nnt5pS
	skXEk/S+PdzPSMr6qlMU2RI5SqVhQTPIZmZ7t/hoSIdmXraigYqUJ6Cq4cO8ZgbjZ1+H
	vCd+iXwrd3lpD6LeCTExFxP1YdxMTZUqqbb1CplDlnaEQnSXhfKs5FDa7IwLPHJ3PIM3
	kOhm85UgcTCfeTjwM3EQc/8qoVF04i6p5Jx9yYlSuSzzQJBmD6drJyf3gstm16pp9Zht
	8mWMhAdrCo8Z1xH/bhU+qj0HX2YHnp9LXbDnWNpLVuP/+E7YJuFnnH2EAcMjdzGUY/Tj
	+8kRe7E4mC4Xl5KcufoSXyUXOHtONLUy6wyeQDRPbH1OhN+zqHPZoPFz5qSFXKiAZspA
	rsUgcq1FIUVucG1+TCWu9GWbpsSQcK4zY4qe7cocawnzMJ8fA6U9bXiy4u6CDXTWHriV
	l13Egxgrx3m5jPuGWPcWWxQUS3bYi4SA9Wg4r/e5zzMt85fz9A4eUdG38zQC70QYQ6Do
	jiJ2yHpHetnk8FippY/VTeIMvBAhDAJvOzS84mM//6fbjQea//RW+c+f/wI=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5.1</string>
	<key>adjustmentTimestamp</key>
	<date>2023-03-03T18:31:15Z</date>
</dict>
</plist>
