<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVLbatwwEP0XPZtldJf8FkhC89AEdqEXSh4UezZW8Q1bzoWw/96R3WTbUoPBnjlz5ujo
	vLEOU6hDCqx8Y12YE06fMD42iZUSnCt+177GOjWsFJKbgg1TxD6FFIeeleZUsOMwdSF9
	wWleS7xgT9v3TX8cMvHDEtv6dukecGIlE3BtNStYGMePGUb/c9VgF/b4FLcaFGxsQ8rs
	BIh3B0a7Qv1zmVNHAmZW/nj7z27sw0OLNSvTtCCxYkqxf5yzjsc2zDPOn0NKeNG2w/MZ
	Fkac0jIhK9VOF6zGMTXv8qsw5lZ98TemCy+xW7pzNZtzuLy73mNf40RLP2RRo126cDvE
	GQ9VaAkMO+CgONfScSeN85xbsjJUuB2samL/LcOkNCCcNRqUpBGviAuP6eoVv+e25koY
	pYy11LcezEd7neZCCmU4GOmlBQeyYFO+3/c+ePAEcN55AG6UFgXrh3njNpwrrbR29ArH
	La3Ostae5V5xJYXwwoH2Tp+Jt1nvrVF0NgtCSyndxruJso4IwTsBikjAn+5ziqpl3mOV
	suWvGaaU5gaM4NZwo22O43OuC5qTnOIJTnjgmo78sp5Fam6Jlea0105LMrRZLbSGrFYa
	rLUCBFcUpC72/9zeTvr1oW3akav8RLBYU9TiMa7JvcypuDoes8j32N/8CaiGbkexbnE3
	NkMa2On+9As=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-09-15T22:06:55Z</date>
</dict>
</plist>
