<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	lVNNb9swDP0vPBuBLX8lvhXtihXY0iIBusPQA2MzsVrJMiS67RDkv09ymjYJimLjSaYe
	Hx8f5S1oYmyQEaotaHRM9jvJTctQZXEqorfcL9lwC1UaiywCYyV1jCxNB1Wxi2BtrEa+
	J+vGVBLB8/58061NIF4NUjXzQa/IQgUivixyiAD7/r0G/LerW9K4oGe5z8UR9Ao5sHuA
	vF2C74XN4+BYewEOqt/bT3pThytFDVRsB/KsxCy7jQs6NgqdI/cTmelCKfPyAcOeLA+W
	oBKTcjZGLtKkENPMu9BQz+1hmhr7gGwuvizR+Cr1oD9ASRHB8ur2ekFdQ9ZLehftL9Sg
	cW6ko2WNyoPjSSxykYk0niZ5VsYimZbeaKwpjP0QPK8Ht6Cag6I/oSDL89lxeNaXkWha
	xschvLjXcJHM0gja8XSKiDNvtJbdmf5JuicuiySfJplIdh4mG78KuZbjZq+CTd/W6yDr
	8CxujgG10RO/dkWTvjVs/EL/c4O9sWxR8vku7t7yS7bUbXicKt8b9gO7RqN9Go3zil0v
	lfrsCbjT2kOr/TzXUvn/YI7aOwGXpmMz2HsB5w7cnRT9owkPu78=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-24T21:29:26Z</date>
</dict>
</plist>
