<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	fVJNb9swDP0vPBuGLDtO4luxtlgPa4EE2A5FD4xFxyoky5DotkOQ/z7J6UdaDOWJIh8f
	H0kdwBKjQkZoDmAxMPmfpPc9Q1OJUmavsT9acQ9NKWSVgfOaBkbWboCmPmbQOW+Rf5MP
	c6jI4Onk3wydS8S7SRt1O9kdeWhAih/1AjLAcXyvgfgObU8WN/SkTzGRwWiQE3sE6Lst
	xF6oHqfANgoI0Nwf/tObBtwZUtCwnyiyErMe9iHp2BsMgcIvZKYLY9zzBwxH8jx5gkbm
	y/VsC1kWtVxVcQuKRu7fpmlxTEh18W2JxRdtJ/sBKuoMtpd31xsaFPko6V10TJjJ4q3T
	gbYtmggWuShKMZusV1KKtYijddhSGvsh7bydwoZaTor+pgJZL8S5RfzzTLRaforLKO4l
	JYp1mUE/e2X1uTQu2urhi/68PA25rIvFqqhkcYwwreIpdKfny16mNV11XZL19i1uzgGt
	s3k8u6F87B07OD4c/wE=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-23T20:10:26Z</date>
</dict>
</plist>
