<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	tVdZk6M4Ev4vfnVtj8CcHbEP3DcY8IV39gHbGGQOcRrjifnvK1zV3dUdE7G7D+OoCKEk
	9enLLzNV4o9FmfTxJe7jxdc/FmXc9UmrJzDN+sXXFSCptw/bHl76bPGVAivybYFamFR9
	3ENULb4Sf74trqgt436XtN276W1xf382qiuagU8DLC7uUJ6SdvF1QQKZYRdvi7iuv69Z
	rHiS/AK+ECuA33TnLCnjILnD97fgbVEXcT/vg12hFy7wrvHlNnR9ial0i6//+uMvWCRV
	fCqSy+Jr3w4JRk36HlZpNzNKrtfk/LPzy+LGZTKzkXfwDi+Lb2aj6pOqg/30HjC84F3h
	Fb7CUV4ei28yGJ/fnVH5BYdZJF/qDPUI0/4/eaLrFU/DuB/aD8HBF5L96cdwmFBVD72E
	CtS+xOrm7HQ9PL8wurhfJ+15plUkPDdD8DTJUwTB8iRL0wTJvv3spL17sSRN8YAkSIoC
	+IElf3Fj6dmL4RiSpWiSo8GKwpDvYMLQo11cDMnsAigW0BxHYgiK4tgVoLGI76FJuL5e
	nD+mqOrbd9MXAtCffwzePsaoi6/XuOiSX9MQlnH7IcHfk4opHt+JtjCFVVxILao/uLwt
	Ht7LirsGZ6ObqXx/Nb73zoqnmbfF9M2PnP1wqHOvJZVQpQVW6h/gpxDfFtlHL5I8g2U9
	o+q1pOq/9Sj4bPxo0rlZYH+en37V6EX5by3ULL6gsXvlnGPB6tPffJi8ytT+Tv19jY7n
	xWzrPhltdI6LXz2VR426oU0+mcR29qmS7vNisYjP+RphSf6iG2pAvugBfOIQ9EfxAp4D
	K6wbDV4N9j7/8f49K9/LGdcvIHh+RZIkWNHUnNce4YoI4ip9ORAsx/MMXk8wPEXSBAY4
	feY0707wLIPfYACeIwmWxruT9Ltw5OqjPZlX3+DMv/Rx4vr72YyTUX806S9cuR/eHwUx
	Oxeznj/1JEkABnz6ET/WCfcUl0RAcv9c/DBiS2xcEDxIySkOSrgPxSMK6rxMbPkouPvK
	u51o8X5bSUXaQnMwSBa2gztQkEwZUmoob8xaYd+NwIGnaNhIhJSxxxaWUMM4ZbWPpSNy
	y2zfWHsKZMVInM5M8Cgqa3s+0n1TSWli8VyHSjpjodZS+3tmLdX2EQKdnby7RFvWydK7
	crBjqsa4jRlHRQP3g3ui1XtRaVv7aBJtZV1PR3UodGl/rmu6N2Iqay2lM8IhaxtjQAyT
	sI/sTkucbedZjxJwQnR/KxnvVItjXml4XTAVB+90rh+grKQQ2++5bl2u7F4dUExntufc
	0bSELOPdEcnfTiXWgVzebDT0k0bC0+5Zrqz92TSnfOVtLzVNVqtwf2HMGq2S7HKkMb61
	xeOyRyV7swdjMCCXn5b+HTEcZKHZo2Z1sxtngAxjtHuzq5LL5ViAotpHl5pgqlWZXOie
	qqrkmjQmW1dxfKmzVblqYBoPck9B6maT3p2CPLT3ehfBCZ48s4/Kp2OnsKOSR1LTVKXj
	E8Sk6aoqk6QRGXRorthOVwd4SswHHofbNd79/ltNWXXKTEpLhRMe5RaFfWaRShvFd2gb
	Yz95z6zheVSReEHA1zpZXpvjsj4syytz4euKzK+xy6Fqgnhc1oZUpXEiNoZUpnEs1kir
	0qaUGxS2KWsy/QMSBispLdJqHJDUGlabNoPcUPPYzAU3pA0pNodldWVmgmgGglJjWCi1
	EgFvXFyZvVCvyGYm2sNkNE4gn4Eya1JbKn5krad1RnzPYgYHEnZZs8SVF3aYiFivPtZT
	GsY74g0ODI7MxBHgSJpsaki4sthzuJPiETN5KZGxkt4ZyYhHtZ0jYRq5NcIeMxcbfVZi
	x6PVjOPikYRXS2SqqrkkNM0hfVmfbMPvRWNpnSS1i3CkzPCO2yxnvB7PpWZWKoYiJvaB
	R2YYh0eHWflZYZwyK+BeGWAyq/UJy64Ctdt4U2phgZCHW0HTOwoSGRuqr9awSKyw12UW
	FgJZ/ZUp5oxVZysC9cYqnMafiptYWhslMVLuKm9T1x8JS5Zj7D/HbZm90VCwjfEIn4mt
	up3E3G0GjO1Gip1d9/A2BuM80eTdHNoB3PMiu6xDnWkIJU9BaC35QJN9xxEmOFgx1bZw
	iK1n3jnS+LA3/uBKFHDkaAw2Zu6QCrg+Q3tDi05eTEF0FK83UvMiirjdtL2rH/3w5nO2
	vOucyCeQMZ1LCxauRSkdDBnHMfggvy2dQ9R7UPOCyBjbNN+vPQRANpViQD/2ed5YYYSW
	5ye+3JZKHAnEUUb+9TKOk/RUi5y03KPpZrDcr6OoxqNn76jLOd/s93YTFRfo0MbGb1wJ
	e24JZQd2B7/o9VOuib5WKKftrndJf4qhuZZVxREI0tshBK4hqdqU/zjevMpnzuB02ytr
	kjrGj55VQLp2sy7VoXA97Y7U7pB5F7VgdpRqRXkN/X232smmhnWrtz6oDKm7WdKFtnVu
	iJ/i77+5ZC8n8t6wNuMUbuhYg93ReASiFkVZ/mD2O43fnIjjGBx5Iy0kfUNdvCjfHd0t
	QJ5UeLJ03N4Iz95Q/Bpq2k6nnDGRgq21jQpX6rj1Dtw86SKbwBjTnRRsVm5wKsylp0fZ
	YVP8/pvfPKTbhngGRSFunkfDUSknU6Ef0uI6D0vDrh10gpmmT+BoPrjevEXUVlJIW+mI
	3TOD691FOskubeyM8Zihs7mLyOPUp3ZRqHtF9TyAmFDTXD3joC9tkTmN+NpyplQRbdXA
	CHXI3ZyNGeq3qLKlvLdvOR3c+I2S+RsFZHddBfkB9Cgk8X55sFsDQIdybe2q/Frt4u2B
	zk5VaB5UWVlLD8GTR7Q2M6qxgHH2Qqc1Yde6GxeXdLqWRWVtE4g4hr3vkSl9wHE5hcBv
	n5nuFqp5lj3bbFWpFumVKp03ugDWcnp2pZS76/ZYjwEojTC9mTB92LfuuR4pWx5B5kjR
	0oRc5UnbUc/TfQBdxSYccN4sM1nM91rgHJVAcMSxU6Ux8sSRcxX8X24KbEWXDWhCJX/x
	vAm0Lp0v5iTUxtRl2I6MEJ30lAr0JkqbwIXabnSVlHPlNHdFf1RlwbHFtJNlAfl2Opqy
	Tx1tScCVZuSWhCZ7E2GOnSJn3NUMhRzjJ6ZYHJRVtzMC/yQ/jF2AeclC5KxTsJTFrS2k
	3VZ6bB1tBBdpNBxJrDd6ha4GNEor5FrnUW61uDukj+1ZDgxXzfKz+hj32mMbqUG+VUWH
	l55be71xRXcb2YLfidLo26LQKTh+PB91CUSOFVCZAbe1DfOH+gAHzCdXBA7rBHSc/1B5
	GLgOhFDBdaKI/n0jq46zRTbmi/GUD1zjNcoCxvdxJ2YUjjPqzKex1zI/VkXOV3yAdcnn
	/PuK0AV4dBV/9BUxX6mhEmpj5//A+z46wggsJQNn7UHdTCkv7cwYlMwI1cxkpXHriBhX
	Ec/4pORMBesvZYIlj6OnZ3mtirktpT/hYV1HfKKmvpEBfGIomTk5kyIbviwKjlrn/kUg
	NaUR/NvIGfKYriXhNc7XwjGDffL9Psv/cgnFF96aeN2lwfdr7LdrLf6qwVdKK5leH48E
	RwAWX5I5YkUCiqD+/Isvwf/+3bdBVfI/ftj8+8//AA==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentRenderTypes</key>
	<integer>1536</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-03-03T18:31:16Z</date>
</dict>
</plist>
