<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bY9BS8QwEIX/y5zDUtt1D7mqYC8rKKwH8TBtJtuRJinJtCCl/92064qCt8nLm/fNm8GR
	oEFB0DM4TELxkfjcCeh9UZXqW3tlIx3oqij3CkJk8oLCwYM+LApsiA7lRDFt0o2C6TLX
	3oY1uBm5N8fRNRRBQ1ncHW5BAQ7Dzw7kd2o7cvhME1+0QsHQo6zp2cBPL5BZaD7GJC4f
	kEC/zf+wyWPTkwEtcaScSiLsz2m9g6yl9q95U47oKCOq+xNPbOAq117IJ5bPbM1oNpnK
	lrcSD5sDruXr339tcLtcrqfd0AUJsLwvXw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentRenderTypes</key>
	<integer>3072</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-23T20:10:25Z</date>
</dict>
</plist>
