<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVLJbtswEP0XngWD+6JbgCRoDk0AG+iCIgdaGlkstEGksiDwv3coN3ZSVCdq5vHNe8P3
	RnpIvvbJk/KN9D4mmL9AOLSJlIJaW/ytfQ91aknJBdMFGecAQ/IpjAMp9bEgzTj3Pn2D
	Oa4lVpCn0/luaMZMvF9CV98v/R5mUhJOb40iBfHTdL5D8D9WLfR+C0/hVKMFmTqfMjsC
	wsOO4Cxf/15i6lFAJOWvt//MhsHvO6hJmeYFkBVSCsMhZh2HzscI8atPCa66bny+wPwE
	c1pmIKXcqILUMKX2XX7lp9yqrz5jev8S+qW/VPNydtcPt1sYaphx6FkWNrql9/djiLCr
	fIdguqGcOWuV4lQLQ4USBlfpKzgZq9ow/MgwZbhlxkonKTeWKXyUDpp08wo/c1tYq4Vm
	hgnLmfjYXm8LY7mjUkrhuKRKiILM+X3PfSS31BhpFYIUcwUZxniiliiPSoP8TAkqOd7N
	qtaeRjC1XEmKI5nl8sK79pXl1OjsTjA8SXXiXWdKZpwxSjhtOLVOuONjDlG1xC1UKW/8
	NcPQLRUMU0izBabxbZ/XOjoxWlvhsjnhcPTLWldUMyacdbhPQfMm2tUi+qeSoV5jcCDH
	FPVh+OfpELV+Rmc/krMjwkKNOQtNWGN7nSNx0zRZ4nvm7z4CqrHfYKY72EztmEZyfDz+
	AQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-09-15T22:06:55Z</date>
</dict>
</plist>
