<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	dVLJbtswFPwXngWDOyndgiZFc2gC2EAXFDnQ0pPFQpQEkcoCw//eR7lx0qLVQZBmhvMW
	zpEESK5xyZHqSIKLCeZP4A9dIpWg1ha/sa++SR2puGC6IOPsYUgu+XEglT4VpB3n4NIX
	mOMKsYI8nr9vh3bMxvvF983dEvYwk4pw+kErUhA3TZczBP9j3UFwW3j0Z4wWZOpdyu4o
	8Pc7grVc83OJKWADkVQ/jv+oDYPb99CQKs0LoCuk5IdDzH0cehcjxM8uJbjq+/HpTeYm
	mNMyA6nkRhWkgSl1r+3XbspUc/WnJrhnH5bwhubl7K7vP25haGDGope2kOiX4O5GH2FX
	ux7FdEO5MiXHNTPFDGelkrhKV8N5sLrzw7cs05JSoYy0rKSGcYaX0kObbl7ge6Ylp6VG
	ylqtmDClvtDraSk151wbKo1lWnJekDnf74UXlFNVosiWyBucaxjj2VphNYEQ1xovnuc4
	5K7OnMWqVsg8A77lO9+V1xQ7omhrjJbKUnn2XWsqyjTlWglDhRRc2NNDDlG9xC3UKW/8
	JcuEtoxLobjA6mglCvKUcS5LgdNSRoXmupSmIM//0XcrLniphNDGGoUTaoMxCn746+42
	olwfo5myTHJ2QplvMGi+9Wtur3Mmbto29/ga+tv3gnoMGwx1D5upG9NITg+nXw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.10</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-01-23T20:10:26Z</date>
</dict>
</plist>
