html {
    font-size: 15px;
}

body {
    
}
main {
    font-family: monospace;
}

button, input, textarea, select {
    font: inherit
}

h1, h2 {
    color: rgb(169, 39, 169);
}

p {
    color: purple;
}

.highlight {
text-transform: uppercase; background-color: gold;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}